<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creepy.bit.mapper.MainMapper">

    <select id="getCardsByIds" resultType="com.creepy.bit.domain.TarotCardDto">
        SELECT cardId, cardName, description
        FROM tarot_cards
        WHERE categoryId = #{categoryId}
            AND cardId IN
            <foreach item="id" collection="cardIds" open="(" separator="," close=")">
            #{id}
            </foreach>
    </select>

    <select id="getColorsByCardId" resultType="com.creepy.bit.domain.TarotColorDto">
        SELECT colorName, hexCode
        FROM tarot_card_colors
        WHERE cardId = #{cardId}
    </select>

</mapper>