<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creepy.bit.mapper.MainMapper">

    <select id="getCardsByIds" resultType="com.creepy.bit.domain.TarotCardDto">
         SELECT * FROM tarot_cards
            WHERE cardId IN
            <foreach item="id" collection="cardIds" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>

    <select id="getColorsByCardId" resultType="com.creepy.bit.domain.TarotColorDto">
        SELECT colorName, hexCode
        FROM tarot_card_colors
        WHERE cardId = #{cardId}
    </select>

    <select id="countPlayLogsToday" resultType="int">
        SELECT COUNT(*) FROM tarot_play_logs
        WHERE userId = #{userId} AND isPlay = #{today}
    </select>
    
    <insert id="insertPlayLog">
        INSERT INTO tarot_play_logs (userId, cardIds, cardColors, isPlay, description)
        VALUES (#{userId}, #{cardIds}, #{cardColors}, #{isPlay}, #{description})
    </insert>

    <select id="getPlayMyLogs" resultType="com.creepy.bit.domain.TarotPlayLogsDto">
        SELECT * FROM tarot_play_logs
        WHERE userId = #{userId}
    </select>

</mapper>