<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creepy.bit.mapper.MainMapper">

    <insert id="insertUser" >
        INSERT INTO users (userId, email, password, nickname, gender)
		VALUES (#{userId}, #{email}, #{password}, #{nickname}, #{gender})
    </insert>

    <select id="login" resultType="int">
    SELECT COUNT(*) FROM users WHERE userId = #{userId} AND password = #{password}
    </select>

	<select id="userData" parameterType="string" resultType="com.creepy.bit.domain.UserRequestDto">
		SELECT * FROM users WHERE userId = #{userId}
	</select>

	<select id="checkId" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM users WHERE userId = #{userId}
	</select>

	<select id="checkEmail" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM users WHERE email = #{email}
	</select>

	<select id="checkNickname" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM users WHERE nickname = #{nickname}
	</select>

	<select id="findId" parameterType="string" resultType="string">
		SELECT userId FROM users WHERE email = #{email}
	</select>

	<select id="findPasswd" parameterType="com.creepy.bit.domain.UserRequestDto" resultType="int">
		SELECT COUNT(*) FROM users WHERE userId = #{userId} AND email = #{email}
	</select>

	<update id="changePasswd" parameterType="com.creepy.bit.domain.UserRequestDto">
		UPDATE users
		SET password = #{password}
		WHERE userId = #{userId}
	</update>

	<delete id="deleteUser" parameterType="string">
		DELETE FROM users WHERE userId = #{userId}
	</delete>

	<update id="modifyUser" parameterType="com.creepy.bit.domain.UserRequestDto">
		UPDATE users SET password = #{password}, email = #{email, jdbcType=VARCHAR} WHERE userId = #{userId}
	</update>
 

 
</mapper>
